// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&family=Righteous&display=swap');

$font_rale: 'Raleway',
sans-serif;
$font_right: 'Righteous',
cursive;


// Colors
$col_accent: #0096fa;
$col_primary: #fff;
$col_grey: #777;
$col_grey_lightest: #eee;


// Others
$border_rad: .2rem;